config setup
    charondebug="ike 2, cfg 2, knl 2"
    uniqueids=no

conn %default
    keyexchange=ikev2
    ike=aes256-sha256-modp2048
    esp=aes256-sha256
    dpdaction=clear
    dpddelay=300s
    rekey=no
    left=%any
    leftid=@vpn-server
    leftsubnet=0.0.0.0/0
    right=%any
    rightsourceip=10.10.0.0/24

{% if mode_auth == 'psk' %}
    authby=psk
{% elif mode_auth == 'rsa' %}
    leftcert=serverCert.pem
    rightauth=eap-tls
{% elif mode_auth == 'mschapv2' %}
    leftauth=eap-mschapv2
    eap_identity=%identity
{% endif %}

auto=add
