{% if mode_auth == 'rsa' %}
: RSA {{ server_key }}
{% elif mode_auth == 'psk' %}
: PSK "{{ vpn_psk }}"
{% elif mode_auth == 'mschapv2' %}
: RSA {{ server_key }}
{% for user in users %}
{{ user.username }} : EAP "{{ user.password }}"
{% endfor %}
{% endif %}
