# /etc/ipsec.secrets - generated

{% if mode_auth == 'rsa' %}
: RSA serverKey.pem
{% elif mode_auth == 'psk' %}
: PSK "SuperSecretKey123!"
{% elif mode_auth == 'mschapv2' %}
client : EAP "password123"
{% endif %}
