# /etc/ipsec.conf - generated
config setup
    charondebug="ike 2, knl 2, cfg 2, net 1, esp 1"
    uniqueids=no

conn %default
    keyexchange=ikev2
    ike={{ ike_suite }}
    esp={{ esp_suite }}
    dpdaction=clear
    dpddelay={{ dpd_delay }}
    dpdtimeout={{ dpd_timeout }}
    rekey=no
    fragmentation=yes
    forceencaps=yes

conn vpn
    left=%any
    leftid={{ vpn_leftid }}
    leftsubnet={{ vpn_subnet }}
    right=%any
    rightsourceip={{ vpn_subnet }}
    auto=add

{% if mode_auth == 'rsa' %}
    leftcert=serverCert.pem
    leftauth=pubkey
    rightauth=pubkey
    rightca=%same
{% elif mode_auth == 'psk' %}
    leftauth=psk
    rightauth=psk
{% elif mode_auth == 'mschapv2' %}
    leftauth=eap-mschapv2
    rightauth=eap-mschapv2
    eap_identity=%identity
{% endif %}
