# /etc/ipsec.conf - client
config setup
    charondebug="ike 2, knl 2, cfg 2, net 1, esp 1"
    uniqueids=no

conn vpn
    keyexchange=ikev2
    left=%defaultroute

{% if mode_auth == 'rsa' %}
    # Identité basée sur le SAN du certificat (plus fiable que CN)
    leftid={{ client_leftid | default('vpn-client') }}
{% else %}
    leftid=%identity
{% endif %}

    ike={{ ike_suite }}
    esp={{ esp_suite }}
    dpddelay={{ dpd_delay }}
    dpdtimeout={{ dpd_timeout }}
    auto=add
    right={{ vpn_server_ip }}

{% if mode_auth == 'rsa' %}
    rightid={{ vpn_leftid | default('vpn-server') }}
{% else %}
    rightid=%any
{% endif %}

{% if mode_auth == 'rsa' %}
    leftcert={{ client_cert }}
    leftauth=pubkey
    rightauth=pubkey
    rightca={{ ca_cert }}
{% elif mode_auth == 'psk' %}
    leftauth=psk
    rightauth=psk
{% elif mode_auth == 'mschapv2' %}
    leftauth=eap-mschapv2
    rightca={{ ca_cert }}
    rightauth=pubkey
    eap_identity="{{ user_login }}"
{% endif %}
