# /etc/ipsec.secrets - client VPN

{% if mode_auth == 'rsa' %}
: RSA serverKey.pem
{% elif mode_auth == 'psk' %}
: PSK "{{ psk_secret }}"
{% elif mode_auth == 'mschapv2' %}
{{ client_username }} : EAP "{{ client_password }}"
{% endif %}
