# /etc/ipsec.secrets - fichier secrets VPN client généré avec Ansible

{% if mode_auth == 'rsa' %}
: RSA clientKey.pem
{% elif mode_auth == 'psk' %}
: PSK "SuperSecretKey123!"
{% elif mode_auth == 'mschapv2' %}
client : EAP "password123"
{% endif %}
