[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
prompt             = no
req_extensions     = v3_req

[ req_distinguished_name ]
C  = FR
ST = France
L  = Lyon
O  = VPNTest
OU = Lab
CN = {{ cn_name }}

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
{% if san_dns is defined %}
DNS.1 = {{ san_dns }}
{% endif %}
{% if san_ip is defined %}
IP.1  = {{ san_ip }}
{% endif %}
