[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
prompt             = no

[ req_distinguished_name ]
C  = FR
ST = France
L  = Lyon
O  = VPNTest
OU = Lab
CN = vpn-server

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vpn-server
IP.1  = 127.0.0.1
